@import '../../../scss/variables.scss';

.playerBoard {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: #2d2d2d2d;

  display: grid;
  grid-template-columns: repeat(11, minmax(2rem, 1fr));
  // grid-template-rows: repeat(11, 5rem);
  gap: 0.1rem;
}

.square {
  position: relative;
  background: none;
  cursor: pointer;
  color: white;
  // z-index: 60;

  &:hover {
    animation: border 1s cubic-bezier(0.57, 0.21, 0.69, 1.25) forwards;
  }
}

@keyframes border {
  0% {
    background: #f26052;
  }

  100% {
    border-radius: 0.6rem;
    background: rgb(242, 166, 99);
    background: radial-gradient
      (
        90deg,
        rgba(242, 166, 99, 1) 40%,
        rgba(242, 96, 82, 1) 50%,
        rgba(242, 194, 136, 1) 100%
      );
  }
}
