@import '../../../scss/variables.scss';

.container {
  width: 100%;
  padding: 2rem;
  background: #2d2d2d2d;
}

.privateBoard {
  display: grid;
  grid-template-columns: repeat(11, minmax(2rem, 1fr));
  grid-template-rows: repeat(11, 5rem);
  justify-items: center;
  align-items: center;
}

.square {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
}

.hover {
  justify-self: center;
  align-self: center;
  background: hotpink !important;
  cursor: pointer;
  border-radius: $ship-b-radius;

  width: 100%;
  height: 100%;
}

.ships {
  background: coral;
  width: 5rem;
  height: 3rem;

  margin-right: 1rem;
  margin-bottom: 1rem;
}

.displayNone {
  display: none;
}

.btn {
  margin: 2rem auto;
}

.shipContainer {
  height: 100%;
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #2d2d2d2d;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 5rem);

  align-items: center;
  align-content: center;
  z-index: 3;
}

@keyframes shake {
  0% {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      25% 2%,
      25% 24%,
      75% 25%,
      75% 75%,
      25% 75%,
      24% 100%,
      21% 100%,
      124% 0
    );
  }

  100% {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      25% 100%,
      25% 25%,
      75% 25%,
      75% 75%,
      25% 75%,
      25% 100%,
      100% 100%,
      100% 0
    );
  }
}
