@import '../../../scss/variables.scss';

.container {
  max-width: 70rem;
  margin: 0 auto;
  background: palegoldenrod;
  padding: 1rem;
}

.privateBoard {
  max-width: 70rem;

  display: grid;
  grid-template-columns: repeat(11, minmax(2rem, 1fr));
  grid-template-rows: repeat(11, minmax(4rem, 1fr));
  gap: 0.1rem;
}

.square {
  width: 100%;
  height: 100%;
  position: relative;

  &__item {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // background: rgba(255, 255, 255, 0.39);
  }
}

.ships {
  background: coral;
  width: 5rem;
  height: 3rem;

  margin-right: 1rem;
  margin-bottom: 1rem;
}

.shipContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  @media screen and (max-width: $bp-m) {
    // top: 5rem;

    // position: absolute;

    // padding: 0;
  }
}

.displayNone {
  display: none;
}
