.createRoom {
  // background: red;
  margin: 0 auto;
  max-width: 40rem;
  height: 19rem;
  transition: all 0.3s;

  filter: drop-shadow(2px 10px 5px black);

  border-radius: 0.3rem;
  background: #f2f2f2;
  padding: 1rem 2rem;

  input {
    width: 100%;
    padding: 0.3rem 0.3rem 0.3rem 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  button {
    margin: 3.3rem auto 0 auto;
  }

  .label {
    font-size: 1.2rem;
    transition: all 0.3s;
  }
}
