.createRoom {
  position: relative;
  margin: 0 auto;
  max-width: 40rem;
  transition: all 0.3s;
  border-radius: 0.3rem;
  // background: #f2f2f2;
  padding: 1rem 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem 10rem 10rem 6rem;

  // align-items: center;
  justify-items: center;

  width: 100%;
  background-size: cover;
  object-fit: cover;

  overflow: hidden;

  input {
    width: 100%;
    height: 5rem;
    // background: rgba(224, 224, 224, 0.349);
    // border-bottom: none;
    // padding: 1rem;
  }
}

.item {
  &__1 {
    grid-column: 1 / -1;
    grid-row: 2 / span 2;
  }

  &__2 {
    grid-column: 1 / -1;
    grid-row: 3 / span 2;
  }

  &__icon {
    width: 100%;
    height: 100%;

    // justify-self: center;
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    // align-self: center;

    animation: moveRight 3s ease infinite;

    svg {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
    }
  }

  &__btn {
    justify-self: center;
    align-self: end;
    grid-column: 2 / span 2;
    grid-row: 4 / -1;
  }
}

.line {
  width: 1rem;
  height: 100%;
  background: #57585a;
  position: absolute;
  left: 0;
}

.line__right {
  width: 1rem;
  height: 100%;
  background: #57585a;
  position: absolute;
  top: 0;
  display: none;
}

.label {
  font-size: 1.2rem;
  transition: all 0.3s;
}

@keyframes moveRight {
  0% {
    transform: translateX(-10%);
    color: #f2c288;
  }

  40% {
    color: #f2955e;
  }

  60% {
    color: #f27457;
  }

  80% {
    color: #f26052;
  }

  100% {
    transform: translateX(110%);

    color: #a64444;
  }
}
