.container {
  // width: 100%;
  // display: grid;
  // grid-template-columns: 5rem 1fr;
  // justify-items: baseline;
  // align-items: baseline;

  width: 60%;
  display: grid;
  grid-template-columns: 5rem 1fr;
  justify-items: baseline;
  align-items: baseline;
  margin: 0 auto;

  background: rgb(242, 128, 182);
  background: linear-gradient(
    90deg,
    rgba(242, 128, 182, 1) 0%,
    rgba(33, 101, 191, 1) 50%,
    rgba(3, 166, 166, 1) 100%
  );
}

.shipWrapper {
  align-items: center;
}

.ship {
  &__square {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;

    // margin-right: 0.1rem;
    // margin-bottom: 0.2rem;
  }
}

.rotateBtn {
  cursor: pointer;
  outline: none;
  color: #262626;
  margin-right: 2rem;

  transform: rotateX(0);

  svg {
    height: 4rem;
    width: 4rem;
  }
}
