.container {
  background: palegreen;
  width: min-content;
  display: flex;
  flex-direction: row;
}

.ship {
  &__square {
    width: 3rem;
    height: 3rem;
    background: gray;

    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
