.wating {
  width: 30rem;
  text-transform: uppercase;
  margin: 0 auto;

  display: grid;
  justify-items: center;
}

.boardContainer {
  // max-width: 95rem;
  // margin: 0 auto;
  position: relative;

  overflow: hidden;
  border-radius: 0.6rem;

  grid-column: 1 / -1;
  grid-row: 2 / span 4;

  display: grid;
  grid-template-columns: 1fr 1fr;

  backface-visibility: hidden;
}

.button__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  grid-column: 1 / -1;
  grid-row: 2 / span 4;
  backface-visibility: hidden;
}
