@import '../../../scss/variables';

.loading {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  // overflow: hidden;
  height: 60rem;

  svg {
    color: currentColor;
    height: 9rem;
    width: 9rem;
    margin-top: 1.5rem;
    transform: rotate(359deg);
    animation: rotate 10s infinite;
  }

  @keyframes rotate {
    0% {
      transform: translate3d(0, 6vh, 0) rotate(0deg) translateX(0rem);
    }
    50% {
      transform: translate3d(0, 20vh, 0) rotate(-180deg) translateX(5vh);
    }
    100% {
      transform: translate3d(0, 6vh, 0) rotate(0deg) translateX(0rem);
    }
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.lds {
  display: inline-block;
  position: relative;
  height: 80px;
  width: 80px;
}
.lds div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $c-primary-beige;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds div:nth-child(1) {
  left: 8px;
  animation: lds1 0.6s infinite;
}
.lds div:nth-child(2) {
  left: 8px;
  animation: lds2 0.6s infinite;
}
.lds div:nth-child(3) {
  left: 32px;
  animation: lds2 0.6s infinite;
}
.lds div:nth-child(4) {
  left: 56px;
  animation: lds3 0.6s infinite;
}
@keyframes lds1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
