@import '../../../scss//variables';

.waitingForPlayer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: contrast(0.5) brightness(0.3);
  }
}

.wavesContainer {
  position: relative;
  width: 50rem;
  height: 50rem;
  overflow: hidden;
  filter: opacity(0.7);
}

.wheel {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
  // transform: translate3d(0, 0, 0) rotateX(-40deg) rotateY(-40deg);
  svg {
    color: currentColor;
    height: 9rem;
    width: 9rem;
    margin-top: 1.5rem;
    animation: rotate linear 1s infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate (0);
    }

    50% {
    }

    100% {
      transform: rotate(90deg);
    }
  }
}
