@import '../../../scss//variables';

.waitingForPlayer {
  overflow: hidden;
  background: #e91e63;
  height: 20rem;
  width: 20rem;
  border-radius: 0.3rem;
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: contrast(0.5) brightness(0.3);
  }
}

.wavesContainer {
  position: relative;
  width: 50rem;
  height: 50rem;
  overflow: hidden;
  filter: opacity(0.7);
}
