.container {
  width: 100%;
  height: 2rem;
  top: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
}

.myTurn {
  background: #4e4ed3;
  height: 1rem;
  border-radius: 4rem;
}

.enemyTurn {
  background: #f27457;
  height: 1rem;
  border-radius: 4rem;
}
