.gameDetails {
  background: red;
  padding: 2rem;
  grid-column: 3 / span 5;
  grid-row: 1 / span 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.item {
  &__1 {
    grid-column: 1 / -1;
  }

  &__2 {
  }

  &__3 {
  }
}
