@import './scss/variables';

.App {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 1rem;

  @media screen and (max-width: $bp-m) {
    padding: 0;
  }

  input {
    font: inherit;
    border: none;
    padding: 1rem;
    background: none;
    border-bottom: solid 0.3rem #57585a;

    &::placeholder {
      color: #2e3b49;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  button {
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 0.7em 1.4em;
    border-radius: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
    background: #55575a;
    box-shadow: 3px 4px 3px 0em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    font-size: 1.3rem;
    transition: all 0.3s cubic-bezier(0.17, 0.67, 1, 1.23);
    transform: translateY(0);
    max-width: 50rem;
    display: flex;
    justify-content: center;
    align-content: center;

    &:hover {
      filter: drop-shadow(0px 9px 3px black);
      background: #57739c;
    }

    &:active {
      transform: translateY(0.2rem);
      border: none;
      outline: none;
    }

    &:focus {
      outline: 0;
    }
  }

  .heading {
    &--1 {
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 900;
    }
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .drop {
    position: relative;
    // background: #03a6a6;
    // width: 100%;
    // height: 100%;
    z-index: 1 !important;
    height: 100%;
    width: 100%;
    transform: scale(1) rotate(4deg);
    transition: all 0.3s;

    animation: shrink 0.2s cubic-bezier(0.22, 0.68, 0, 1.71) 0.2s forwards;
    overflow: hidden;
  }

  // empty
  .red {
    background: red;
  }

  .blue {
    background: blue;
  }

  .white {
    background: white;
  }

  .orange {
    background: orange;
  }

  .green {
    background: green;
  }

  .purple {
    background: purple;
  }

  @keyframes shrink {
    0% {
      transform: scale(0.5);
    }

    80% {
      transform: scale(1.2);
    }

    90% {
      transform: scale(0.7);
    }

    95% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}
