//breakpoints
$bp-s: 425px;
$bp-m: 42.625em;

//colors
$c-primary-blue-light: #99b8bf;

$c-green-gray: #798c7c;

$c-beige--1: #f2ebd5;

$c-gray-light--1: #f2f2f2;

$c-gray-dark-1: #313740;

// other
$border-radius: 0.3rem;
